{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jquery"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  },
  "overrides": [
    {
      "files": ["node/build/react/**/*"],
      "globals": {
        "window": true,
        "__RUNTIME__": true
      }
    }
  ],
  "globals": {
    "metrics": true,
    "vtexjs": "readonly",
    "$": "readonly"
  }
}
