.sliderContainer {
  display: flex;
  place-content: center;
  margin: 1rem;
  position: relative;
  overflow: hidden;

  .sliderContent {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .sliderImage {
      width: 100%;
      height: 100%;
      flex: 1 0 100%;
    }
  }

  .sliderArrows {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    align-items: center;

    &.sliderArrowLeft {
      left: 0;
      padding-left: 0.25rem;
      border-radius: 0 2rem 2rem 0;
      justify-content: start;
    }

    &.sliderArrowRight {
      right: 0;
      padding-right: 0.25rem;
      border-radius: 2rem 0 0 2rem;
      justify-content: end;
    }
  }
}
