/*
  * Cart
  * --------------------------------------------------
  * Escribir aquí unicamente estilos que hagan parte del carrito
  * Para estilos de cada paso en específico, utilizar el archivo .scss de la carpeta de cada paso
  * --------------------------------------------------
*/

.title-preact-component {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: yellowgreen;
}

@import './slider';
